$primary-normal: #1e0606;
$primary-dark: #1a0404;
$primary-light: #350c0c;

$secondary-normal: #1a0e0e;
$secondary-dark: #0c0606;
$secondary-light: #251a1a;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #FFF;
$white-dark: #edeaef;
$white-light: #fefbff;

$red-normal: #B38C6F;
$red-dark: #94745c;
$red-light: #d3a582;